.top-questions-stats {
    text-align: center;
}

.borderless td, .borderless th {
    border: none !important;
}

.asked, .float-right {
    float: right;
}

#form-title, .align-center {
    text-align: center;;
}

.or {
    text-align: center;
    color: gray;
}

.nav-icons {
    color: gray;
    padding-right: 10px;
}

.nav-text {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar {
    border-radius: 0;
}

.post-text {
    width: 660px;
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
}

.fw {
    margin-bottom: 4px;
    width: 100%;
}

.post-signature {
    text-align: left;
    vertical-align: top;
    width: 200px;
}

.user-info {
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    width: 200px;
    color: #6a737c;
}

.user-info:before, .user-info:after {
    content: "";
    display: table;
}

.user-info .user-action-time {
    margin-top: 1px;
    margin-bottom: 4px;
    font-size: 12px;
    white-space: nowrap;
}

.gravatar-wrapper-32, .gravatar-wrapper-32 img {
    width: 32px;
    height: 32px;
}

.user-details {
    line-height: 17px;
    word-wrap: break-word;
}